:root {
  --unit: 10px;
  --font-family: 'Mulish', sans-serif;
  --color-white: #ffffff;
  --color-black: #1A1A1A;
  --color-dark-blue: #28374C;
  --color-light-blue: #DAE9FF;
  --color-gray1: #dfe5ed;
  --color-gray2: #C2C9D1;
  --color-gray3: #939BA5;
  --color-gray4: #FBFBFB;
  --color-disabled: #A8B9D1;
  --color-yellow: #FFD258;
  --color-green: #3CC13B;
  --color-red: #F03738;
  --overlay-blue: rgba(36, 57, 140, .2);
  --text-xs: 10px;
  --text-s: 12px;
  --text-m: 14px;
  --text-xm: 16px;
  --text-l: 24px;
  --text-xl: 32px;
  --space-s: var(--unit);
  --space-m: calc(var(--unit) * 2);
  --space-l: calc(var(--unit) * 3);
  --space-xl: calc(var(--unit) * 4);
  --space-2xl: calc(var(--unit) * 5);
  --space-3xl: calc(var(--unit) * 6);
  --space-4xl: calc(var(--unit) * 7);
  --space-5xl: calc(var(--unit) * 8);
  --line-height-s: 1.2;
  --line-height-l: 1.6;
  --border-small: 5px;
  --border-full: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

.input-group {
  margin-bottom: var(--space-m);
}

.input-large {
  width: 100%;
  height: 56px;
  padding: var(--space-m);
  border-radius: var(--border-small);
  font-size: var(--text-m);
  border: 1px solid var(--color-gray1);
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--color-dark-blue);
}

.input-large:focus {
  outline: none;
  border: 1px solid #dfe5ed;
}

.btn {
  width: 100%;
  background: var(--color-dark-blue);
  color: var(--color-white);
  height: 56px;
  border-radius: var(--border-small);
  outline: none;
  border: none;
  font-family: var(--font-family);
  font-size: var(--text-xm);
  padding: var(--space-s);
  cursor: pointer;
}

.mt-1 {
  margin-top: var(--space-s);
}

.mt-2 {
  margin-top: var(--space-m);
}

.mt-3 {
  margin-top: var(--space-l);
}

.mt-4 {
  margin-top: var(--space-xl);
}

.mt-5 {
  margin-top: var(--space-2xl);
}

.mb-1 {
  margin-bottom: var(--space-s);
}

.mb-2 {
  margin-bottom: var(--space-m);
}

.mb-3 {
  margin-bottom: var(--space-l);
}

.mb-4 {
  margin-bottom: var(--space-xl);
}

.mb-5 {
  margin-bottom: var(--space-2xl);
}

.auth-section {
  background: var(--color-dark-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--space-5xl) 0;
}

.auth-section .kredi-brand {
  margin-bottom: var(--space-m);
}

.auth-section .card {
  width: 30%;
  background: var(--color-white);
  padding: var(--space-xl) var(--space-2xl);
  border-radius: 14px;
}

@media screen and (max-width: 1100px) {
  .auth-section .card {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .auth-section .card {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: var(--space-xl) var(--space-m);
  }
}

.auth-section .card .success-badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-section .card .success-badge .success-icon {
  width: 140px;
  height: 140px;
  border-radius: var(--border-full);
  background: var(--color-gray3);
}

.auth-section .card-header h3 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.auth-section .card-header p {
  font-size: var(--text-m);
  text-align: center;
}
