@import "variables";
@import "mixins";
@import "utilities";
.auth-section {
    background: var(--color-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--space-2xl) 0;
    @media screen and (max-width: 1100px) {
        height: 100vh;
    }
    @media screen and (max-width: 767px) {
        height: 100vh;
    }
    .card {
        @include auth-break-point;
        width: 30%;
        background: var(--color-white);
        padding: var(--space-xl) var(--space-2xl);
        border-radius: 14px;
        &-header {
            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }
            p {
                font-size: var(--text-m);
            }
        }
        &-body {
            form {
                .form-group {
                    display: flex;
                    justify-content: space-between;
                    .input-group {
                        display: flex;
                        &:nth-child(1),
                        &:nth-child(2)
                         {
                            display: flex;
                            width: calc(50% - 5px);
                        }
                    }
                }
                .input-group {
                    display: flex;
                    position: relative;
                    &.forgot-password {
                        justify-content: space-between;
                        a {
                            color: var(--color-dark-blue);
                            font-weight: 900;
                            font-size: var(--text-m);
                        }
                    }
                    label {
                        font-size: var(--text-s);
                        display: flex;
                        align-items: center;
                        color: var(--color-gray2);
                        cursor: pointer;
                        @media screen and (max-width: 767px) {
                            font-size: var(--text-xs);
                        }
                        a {
                            color: var(--color-dark-blue);
                            font-weight: 900;
                        }
                        &.input-label {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            font-size: var(--text-s);
                            font-weight: 600;
                            color: var(--color-gray2);
                            transition:300ms ease;
                            pointer-events:none;
                        }
                    }
                    input {
                        transition: 300ms ease-in-out;
                        padding-bottom: var(--space-s);
                        &:focus ~ label,
                        &.active ~ label {
                            top: 9px;
                            left: 20px;
                            font-size: var(--text-xs);
                        }
                    }                    
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.btn-disabled {
                            background: var(--color-disabled);
                            cursor: not-allowed;
                        }
                    }
                }
               p {
                   font-size: var(--text-m);
                   text-align: center;
                   color: var(--color-gray3);
                   font-weight: 600;
                   a {
                       color: var(--color-yellow);
                   }
               } 
            }
        }
    }
}