@import "variables";
@import "mixins";
@import "utilities";
.auth-section {
    background: var(--color-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--space-5xl) 0;
    .kredi-brand {
        margin-bottom: var(--space-m);
    }
    .card {
        width: 30%;
        background: var(--color-white);
        padding: var(--space-xl) var(--space-2xl);
        border-radius: 14px;
        @media screen and (max-width: 1100px) {
            width: 70%;
        }
        @media screen and (max-width: 767px) {
            width: calc(100% - 40px);
            margin: 0 auto;
            padding: var(--space-xl) var(--space-m);
        }
        .success-badge {
            display: flex;
            align-items: center;
            justify-content: center;
            .success-icon {
                width: 140px;
                height: 140px;
                border-radius: var(--border-full);
                background: var(--color-gray3);
            }
        }
        &-header {
            h3 {
                font-size: 20px;
                margin-bottom: 5px;
                text-align: center;
            }
            p {
                font-size: var(--text-m);
                text-align: center;
            }
        }
    }
}